.header {
    padding: 1rem 0 2rem;
}
.title {
    font-size: 3rem;
    text-decoration: none;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}
.nav-item {
    color: #999999;
    font-size: 1.35rem;
    padding: 0 0 1rem 0;
    margin-right: 2rem;
    text-decoration: none;
}
.nav-item:hover{
    color: #666666;
}

.active-nav-item{
    color: #333333;
}
.nav-logo {
    display: flex;
    list-style-type: none;
    margin-left: 11rem;
}

.nav-logo-item {
    padding: 0 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}